{% extends 'templates/public.twig' %}

{% block content %}

        			<div class="panel-body">

    					<div class="form-group">
							<label for="title">Email</label>

							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
								<input class="form-control voter-email" placeholder="voter@protonmail.com" name="email" type="email" />
							</div>
    					</div>

						<button type="submit" class="btn btn-primary btn-email">Login</button>

    			</div>

{% endblock %}

