{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-headline">
    			<div class="panel-heading">Vote for Concept</div>
    			<div class="panel-body">

    					<div class="form-group">
							<label for="title">Email</label>

							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
								<input class="form-control voter-email" placeholder="voter@protonmail.com" name="email" type="email" />
							</div>
    					</div>

						<div class="form-group">
							<label for="vote_id">Vote For</label>
							<select class="form-control vote-id" name="vote_id" id="vote_id">
								{% for item in data %}
									<option value="{{ item.id }}">{{ item.title }}</option>
                                {% else %}
									<option>Please add a vote first</option>
                                {% endfor %}
							</select>
						</div>
						<button type="submit" class="btn btn-primary btn-email">Vote Via Email </button>

    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}